# Libros bestseller

Conjunto del TOP 50 de los libros más vendidos desde 20019 hasta 2019. El fichero contiene 550 libros que han sido categorizados según si son de ficción o no mediante el uso de Goodreads. 

https://www.kaggle.com/sootersaalu/amazon-top-50-bestselling-books-2009-2019

In [37]:
import pandas as pd
import numpy as np

In [38]:
dfbooks = pd.read_csv('bestsellers_with_categories.csv')

In [39]:
dfbooks.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [40]:
dfbooks.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

## Análisis

### ¿Qué porcentaje hay de libros de ficción?

In [41]:
dfbooks['Genre'].value_counts()

Non Fiction    310
Fiction        240
Name: Genre, dtype: int64

In [42]:
len(dfbooks)

550

In [43]:
( dfbooks['Genre'].value_counts() / len(dfbooks) ) * 100

Non Fiction    56.363636
Fiction        43.636364
Name: Genre, dtype: float64

El 43,63% de los libros que hay en el top 50 de los últimos años son de ficción

### De los libros que no son de ficción, ¿Qué libros son los mejores evaluados del año 2019? ¿Y del año 2009?

In [45]:
dfbooks[(dfbooks['Genre'] == 'Non Fiction') & (dfbooks['Year'] == 2019)][:5]

,Name,Author,User Rating,Reviews,Price,Year,Genre
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
33,Becoming,Michelle Obama,4.8,61133,11,2019,Non Fiction
44,Can't Hurt Me: Master Your Mind and Defy the Odds,David Goggins,4.8,16244,18,2019,Non Fiction
74,Difficult Riddles For Smart Kids: 300 Difficul...,M Prefontaine,4.6,7955,5,2019,Non Fiction
98,Educated: A Memoir,Tara Westover,4.7,28729,15,2019,Non Fiction

In [46]:
dfbooks['Genre'].value_counts()

Non Fiction    310
Fiction        240
Name: Genre, dtype: int64

In [47]:
dfbooks[['Genre','User Rating','Year']].groupby(['Genre', 'Year']).mean()

                  User Rating
Genre       Year
Fiction     2009     4.591667
            2010     4.615000
            2011     4.619048
            2012     4.495238
            2013     4.545833
            2014     4.631034
            2015     4.652941
            2016     4.715789
            2017     4.737500
            2018     4.738095
            2019     4.820000
Non Fiction 2009     4.576923
            2010     4.520000
            2011     4.513793
            2012     4.558621
            2013     4.561538
            2014     4.609524
            2015     4.645455
            2016     4.654839
            2017     4.588462
            2018     4.617241
            2019     4.686667